<div class="columns is-mobile is-vcentered" data-controller="character">
  <div class="column">
    <p class="time has-text-<%= character.amp_color %>">
      <span  data-target="character.amp room.character"
             data-name="<%= character.name %>"><%= character.amp_time_left %></span><small>s</small>
    </p>
  </div>
  <div class="column is-two-fifths is-clipped has-text-<%= character.enemy? ? 'danger' : 'success' %>">
    <p class="name" data-target="character.name"><%= character.name %></p>
  </div>
  <div class="column amp has-text-centered is-fullheight"
       data-reflex="click->CharacterReflex#amp"
       data-character-id="<%= character.id %>">
    <p class="actions">AMP</p>
  </div>
  <div class="column has-background-danger has-text-centered is-fullheight"
       data-reflex="click->CharacterReflex#cancel"
       data-character-id="<%= character.id %>">
    <p class="actions">X</p>
  </div>
</div>
